<form class="Form">
	<div class="Form-wrap Form-wrap--two">
		<div class="Form-group">
			<label>First name</label>
			<input id="firstname" type="text" name="firstname" placeholder="First name">
		</div>
		<div class="Form-group">
			<label>Last name</label>
			<input id="lastname" type="text" name="lastname" placeholder="Last name">
		</div>
	</div>
	<div class="Form-group">
		<label>Gender</label>
		<div class="CustomSelect">
			<select name="gender">
				<option value="">Gender</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
		</div>
	</div>
	<div class="Form-wrap Form-wrap--two">
		<div class="Form-group">
			<label>Test Input 1</label>
			<input type="text" name="input" placeholder="Placeholder">
		</div>
		<div class="Form-group">
			<label>Textarea *</label>
			<textarea required name="message" placeholder="Some message"></textarea>
		</div>
	</div>
	<div class="Form-group">
		<label>Choose file</label>
		<input id="file1" type="file" name="file1" placeholder="file1">
	</div>
</form>
